@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.canvas{
    background: darkblue;
}

.arButton {
    color: white;
    background: violet;
    border: none;
    padding: 15px;
    width: 80vw;
    height: 7vh;
    text-align: center;
    margin: 1vh;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.arButton:hover{
    content: "";
    opacity: 0.5;
    transition: all 0.1s;
}

